.photo-grid {
  margin: 0 48px;
  width: calc(100% - 48px * 2);
}

@media screen and (max-width: 930px) {
  .photo-grid {
    margin: 0 24px;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 583px) {
  .photo-grid {
    margin: 0 16px;
    width: calc(100% - 16px * 2);
  }
}
