.places {
  margin: 92px auto;
  row-gap: 80px;
}

@media screen and (max-width: 930px) {
  .places {
    margin-top: 88px;
    row-gap: 72px;
  }
}

@media screen and (max-width: 583px) {
  .places {
    margin-top: 62px;
    margin-bottom: 64px;
    row-gap: 50px;
  }
}
