.place__image {
  width: 460px;
  height: 460px;
  margin: 0 auto;
  object-fit: cover;
  grid-area: image;
}

@media screen and (max-width: 930px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 583px) {
  .place__image {
    width: 320px;
  }
}
