.place__article {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  grid-area: article;
  align-items: flex-start;
}

@media screen and (max-width: 583px) {
  .place__article {
    margin-left: 16px;
    margin-right: 16px;
  }
}
