.cover {
  width: 100%;
  position: relative;
  margin: 92px 42px;
  max-width: 1184px;
  min-height: 740px;
}

.cover:hover .cover__background {
  opacity: 0.2;
}

@media screen and (max-width: 1100px) {
  .cover {
    margin: 92px auto 88px;
    overflow: hidden;
    object-fit: cover;
    max-height: 746px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 254px;
    margin: 64px;
  }
}
