.buy-button {
  margin: 0 auto auto 0;
  padding: 13px 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: #0278fe;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
}

.buy-button:hover {
  background: #0063d2;
}

@media screen and (max-width: 583px) {
  .buy-button {
    padding: 13px 40px;
    margin: 0 auto;
  }
}
