.cover__background {
  max-width: 100%;
  min-height: 740px;
  object-fit: cover;
  transition: 0.5s ease;
  opacity: 0.7;
}

@media screen and (max-width: 930px) {
  .cover__background {
    min-height: 746px;
  }
}

@media screen and (max-width: 583px) {
  .cover__background {
    min-height: 254px;
    object-fit: contain;
  }
}
