.place {
  margin: 0 auto;
  max-width: 978px;
  display: grid;
  grid-template-columns: min-content 1fr; /* repeat(2, 1fr); */
  grid-template-rows: min-content min-content 1fr;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image article"
    "button article";
}

@media screen and (max-width: 930px) {
  .place {
    max-width: 720px;
    column-gap: 28px;
  }

  @media screen and (max-width: 583px) {
    .place {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
    }
  }
}
