.cover__info-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 32px;
  z-index: 1;
}

@media screen and (max-width: 583px) {
  .cover__info-block {
    row-gap: 16px;
  }
}
